@function get-vw($target) {
   $vw-context: (2000*.01) * 1px;
   @return ($target/$vw-context) * 1vw;
}
.lol {
   font-size: get-vw(60px);
}
.kek {
   font-size: get-vw(36px);
}
.arrow {
   font-size: get-vw(72px);
}
60,20
.keks {
   font-size: get-vw(70px);
}